<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <title>US183256</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US183256</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Improvement in finger-nail trimmers </h1>
            <div class="date_line">
                <span class='date' title="October 17, 1876">1876</span>
                
                <span class='assignee-list'>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="/static/figures_extracted/US183256-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/US183256-fig1.png" alt='nofig'
                        style="width:49.46996466431096%" />
                
                    <img src="/static/figures_extracted/US183256-fig2.png" alt='nofig'
                        style="width:99.64664310954063%" />
                
                    <img src="/static/figures_extracted/US183256-fig3.png" alt='nofig'
                        style="width:100%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 3</span>william
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> W. C. EDGE.   </p>
                    
                        <p>  FINGER-NAIL TRIMMER.   </p>
                    
                        <p>  No.183,Z56, Patented 0ct.17,1876.   </p>
                    
                        <p>  N. PETERS. Pucno-LITHOGMPnEm WASHINGTON. 0 C4 $110.1: fizwizfif I UNITED STATES PATENT QFFICE.   </p>
                    
                        <p>  WILLIAM 0. EDGE, OF NEWARK, NEW JERSEY.   </p>
                    
                        <p>  IMPROVEMENT IN FlNGER-NAIL TRIMMERS.   </p>
                    
                        <p>  Specification forming part of Letters Patent No. [83,256, dated October 17, 1876; application filed September 23, 1876.   </p>
                    
                        <p>  To all whom it may concern: I   </p>
                    
                        <p>  Be it known that I, <span class="highlightfromlegend legenditem3">WILLIAM (3</span>. EDGE, of   </p>
                    
                        <p>  Newark, Essex county, New Jersey, have invented an Improved Finger-Nail Trimmer, of which the following is a specification Figure l is a longitudinal vertical section of my improved finger-nail trimmer, showing it sprung open. Fig. 2 is a similar View thereof, showing it closed. Fig. 3 is a front view and Fig. 4 a top view, of the same.   </p>
                    
                        <p>   Similar letters of reference indicate corresponding parts in all the figures.   </p>
                    
                        <p>   This invention relates to an improved implement for trimming the nails of fingers and toes; and consists, principally, in the use of a concave cutter fastened to a pivoted bar, combined with another concave cutter which is attached to the frame of said pivoted bar, all as hereinafter more fully described.   </p>
                    
                        <p>   In the accompanying drawing, the letter A represents the fixed cutter, and B the movable cutter, of my trimmer. Both these outters are concave in form, the one B being somewhat smaller, and capable of fitting into the convex side of the cutter A. The cuttingedge of the cutter B is made slanting, as in Fig. 3, to produce a shear-like cut. The stationary cutter A is rigidly attached to the end of a frame or shell, 0, which, in its opposite end, carries the pivot a of the blade or bar D, to which the upper cutter B is fastened. A   </p>
                    
                        <p>  suitable spring, 12, is interposed between the parts 0 D to hold the two cutters separated,   </p>
                    
                        <p>  and yet allow them to be brought together. A suitable latch, d, may be applied to the frame 0, for the purpose of locking the bar D in the contracted or closed position. A penknife or other knife, E, may be pivoted in the bar D, or in the frame or shell 0, or more such knives may be applied in suitable manner; but these do not form a part of my present invention. The concavity of the knives A B is such that the nails of smaller or larger fingers may be conveniently and properly trimmed, whenever the instrument is applied,   </p>
                    
                        <p>  by alternately compressing and raising the WILLIAM 0. EDGE.   </p>
                    
                        <p>  Witnesses:   </p>
                    
                        <p>  ERNEST G. WEBB, A. V. BRIESEN. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="/view/US20040040156.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <img src="/static/thumbnails/US20040040156-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>V-Nose toe nail clipper</h5>
                            <div><span class='date'>2004</span>
                            <span class='inventor'>Vanzandt Michael Deshon</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US183256">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>