<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US20100071213</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US20100071213</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Nail Clipper </h1>
            <div class="date_line">
                <span class='date' title="March 25, 2010">2010</span>
                
                    <span class='inventor'>
                        Kim Kap-Soo
                         (KR)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Royal Metal Ind Co Ltd
                             (KR)
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US20100071213-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig1.png" alt='nofig'
                        style="width:22.84263959390863%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig2.png" alt='nofig'
                        style="width:45.68527918781726%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig3.png" alt='nofig'
                        style="width:38.3248730964467%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig4.png" alt='nofig'
                        style="width:76.39593908629442%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig5.png" alt='nofig'
                        style="width:19.79695431472081%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig6.png" alt='nofig'
                        style="width:45.431472081218274%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig7.png" alt='nofig'
                        style="width:36.04060913705584%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig8.png" alt='nofig'
                        style="width:80.71065989847716%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig9.png" alt='nofig'
                        style="width:80.58375634517766%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig10.png" alt='nofig'
                        style="width:24.111675126903553%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig11.png" alt='nofig'
                        style="width:24.111675126903553%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig12.png" alt='nofig'
                        style="width:34.390862944162436%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig13.png" alt='nofig'
                        style="width:35.27918781725889%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig14.png" alt='nofig'
                        style="width:36.04060913705584%" />
                
                    <img src="../static/figures_extracted/US20100071213-fig15.png" alt='nofig'
                        style="width:35.27918781725889%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 1</span>plates
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 2</span>lower elastic plate
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 3</span>pressing plate
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 10</span>lower elastic plates
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 11</span>respective cutting edges
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 12</span>lower elastic plate
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 14</span>support shaft
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 15</span>pressing plate
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    
                        <h4> Abstract </h4>
                        <p> A nail clipper includes upper and lower elastic plates which have respective cutting edges formed on respective front ends thereof and are connected with each other at rear ends thereof, a support shaft which passes through front end portions of the upper and lower elastic plates, and a pressing plate which is coupled to the support shaft at a front end thereof. One or more of the upper, lower and pressing plates are formed to have arc-shaped widthwise cross-sections. </p>
                    

                    <h4> Description </h4>
                    
                    
                        <p> TECHNICAL FIELD  </p>
                    
                        <p>        [0001]    The present disclosure relates to a nail clipper with light weight and excellent strength.  </p>
                    
                        <p>        BACKGROUND ART  </p>
                    
                        <p>        [0002]    Referring to  FIG. 1 , a conventional nail clipper is composed of an <span class="highlightfromlegend legenditem1">upper elastic plate  1</span> , a <span class="highlightfromlegend legenditem2">lower elastic plate  2</span> , and a <span class="highlightfromlegend legenditem3">pressing plate  3</span> . These <span class="highlightfromlegend legenditem1">plates  1</span> ,  2  and  3  are made of steel plates.  </p>
                    
                        <p>          [0003]    The upper and <span class="highlightfromlegend legenditem1">lower elastic plates  1</span>  and  2  are required to have adequate elasticity, and the <span class="highlightfromlegend legenditem3">pressing plate  3</span>  is required to sustain so as to not yield the force applied thereto. To satisfy the requirements, the respective component plates must have appropriate thicknesses. Accordingly, in the conventional nail clipper, a substantial amount of a material therefor is needed and a transportation cost thereof is significant due to the weight of the material.  </p>
                    
                        <p>          [0004]    The above information disclosed in this Background Art section is only for enhancement of understanding of the background of the invention and therefore it may contain information that does not form the prior art that is already known in this country to a person of ordinary skill in the art.  </p>
                    
                        <p>        SUMMARY  </p>
                    
                        <p>        [0005]    One of the objects of the present invention is to provide a nail clipper in which upper and lower elastic plates and a pressing plate have lighter weights compared to the conventional art.  </p>
                    
                        <p>          [0006]    Another object is to provide a nail clipper in which upper and lower elastic plates and a pressing plate show excellent strengths.  </p>
                    
                        <p>          [0007]    In one aspect, the present invention provides a nail clipper including upper and lower elastic plates which have respective cutting edges formed on front ends thereof and are connected with each other at rear ends thereof, a support shaft which passes through front end portions of the upper and lower elastic plates, and a pressing plate which is coupled to the support shaft at a front end thereof. At least one of the upper plate, the lower plate and the pressing plate is formed to have an arc-shaped widthwise cross-section, thereby making it possible to reduce the thickness of the upper and lower elastic plates and the pressing plate.  </p>
                    
                        <p>          [0008]    Preferably, the rear ends of the upper and lower elastic plates may be integrally connected with each other by a bent part.  </p>
                    
                        <p>          [0009]    Other aspects and preferred embodiments of the invention are discussed infra.  </p>
                    
                        <p>       </p>
                    
                        <p>      </p>
                    
                        <p>       </p>
                    
                        <p>        BRIEF DESCRIPTION OF THE DRAWINGS  </p>
                    
                        <p>          [0010]    The above and other objects, features and other advantages of the present invention will be more clearly understood from the following detailed description taken in conjunction with the accompanying drawings, in which:  </p>
                    
                        <p>            [0011]      FIG. 1  is a perspective view illustrating a conventional nail clipper;  </p>
                    
                        <p>            [0012]      FIG. 2  is a lengthwise sectional view illustrating a nail clipper in accordance with one embodiment of the present invention;  </p>
                    
                        <p>            [0013]      FIG. 3  is a sectional view taken along the line A-A of  FIG. 2 ;  </p>
                    
                        <p>            [0014]      FIG. 4  is a sectional view taken along the line B-B of  FIG. 2 ;  </p>
                    
                        <p>            [0015]      FIG. 5  is a lengthwise sectional view illustrating a nail clipper in accordance with another embodiment of the present invention;  </p>
                    
                        <p>            [0016]      FIG. 6  is a sectional view taken along the line C-C of  FIG. 5 ;  </p>
                    
                        <p>            [0017]      FIG. 7  is a sectional view taken along the line D-D of  FIG. 5 ;  </p>
                    
                        <p>            [0018]      FIG. 8  is a perspective view of the upper and lower elastic plates of the nail clipper of  FIG. 2 ;  </p>
                    
                        <p>            [0019]      FIG. 9  is a perspective view of  FIG. 2 ;  </p>
                    
                        <p>            [0020]      FIG. 10  is a perspective view of the upper and lower elastic plates of the nail clipper of  FIG. 5 ; and  </p>
                    
                        <p>            [0021]      FIGS. 11(   a ) through  11 ( f ) are views illustrating exemplary sectional shapes of the nail clipper according to the present invention.  </p>
                    
                        <p>         </p>
                    
                        <p>      </p>
                    
                        <p>      </p>
                    
                        <p>      DETAILED DESCRIPTION  </p>
                    
                        <p>        [0022]    Reference will now be made in greater detail to preferred embodiments of the invention, examples of which are illustrated in the accompanying drawings. Wherever possible, the same reference numerals will be used throughout the drawings and the description to refer to the same or like parts.  </p>
                    
                        <p>          [0023]      FIGS. 2 through 4  are sectional views illustrating a nail clipper according to one embodiment of the present invention. The nail clipper includes a <span class="highlightfromlegend legenditem10">upper elastic plate  10</span> , a lower elastic plate, a <span class="highlightfromlegend legenditem14">support shaft  14</span> , and a <span class="highlightfromlegend legenditem15">pressing plate  15</span> .  </p>
                    
                        <p>          [0024]    The upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  have <span class="highlightfromlegend legenditem11">respective cutting edges  11</span>  and  13  formed on the respective front ends thereof and are joined with each other at the rear ends thereof through welding. The <span class="highlightfromlegend legenditem14">support shaft  14</span>  passes through the front end portions of the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12 . The <span class="highlightfromlegend legenditem15">pressing plate  15</span>  is coupled to the <span class="highlightfromlegend legenditem14">support shaft  14</span>  at the front end thereof.  </p>
                    
                        <p>          [0025]    In the nail clipper, the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  are formed to have smaller thickness than those of the conventional nail clipper. The upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  are formed to h<span class="highlightfromlegend legenditem10">ave arc-shaped widthwise cross-sections  10</span>   a  and  12   a  as shown in  FIGS. 3 and 8 .  </p>
                    
                        <p>          [0026]    The <span class="highlightfromlegend legenditem15">pressing plate  15</span>  is also formed to have smaller thickness than that of the conventional nail clipper and is formed to have an <span class="highlightfromlegend legenditem15">arc-shaped widthwise cross-section  15</span>   a  as shown in  FIGS. 4 and 9 .  </p>
                    
                        <p>          [0027]      FIGS. 5 through 7  are sectional views illustrating a nail clipper according to another embodiment of the present invention. The nail clipper includes a <span class="highlightfromlegend legenditem10">upper elastic plate  10</span> , a <span class="highlightfromlegend legenditem12">lower elastic plate  12</span> , a <span class="highlightfromlegend legenditem14">support shaft  14</span> , and a <span class="highlightfromlegend legenditem15">pressing plate  15</span> .  </p>
                    
                        <p>          [0028]    The upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  have <span class="highlightfromlegend legenditem11">respective cutting edges  11</span>  and  13  formed on the respective front ends thereof and are connected with each other at the rear ends thereof. The <span class="highlightfromlegend legenditem14">support shaft  14</span>  passes through the front end portions of the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12 . The <span class="highlightfromlegend legenditem15">pressing plate  15</span>  is coupled to the <span class="highlightfromlegend legenditem14">support shaft  14</span>  at the front end thereof.  </p>
                    
                        <p>          [0029]    In the nail clipper, the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  are formed to have smaller thickness than those of the conventional nail clipper. The upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  are formed to h<span class="highlightfromlegend legenditem10">ave arc-shaped widthwise cross-sections  10</span>   a  and  12   a  as shown in  FIGS. 6 and 10 .  </p>
                    
                        <p>          [0030]    The <span class="highlightfromlegend legenditem15">pressing plate  15</span>  is also formed to have smaller thickness than that of the conventional nail clipper and is formed to have an <span class="highlightfromlegend legenditem15">arc-shaped widthwise cross-section  15</span>   a  as shown in  FIG. 7 .  </p>
                    
                        <p>          [0031]    In this embodiment, the rear ends of the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  are integrally connected with each other through a bent part  26 .  </p>
                    
                        <p>          [0032]    In the above embodiments, the <span class="highlightfromlegend legenditem10">arc-shaped cross-sections  10</span>   a,    12   a  and  15   a  are formed to reinforce the bending stress resulting from the smaller thickness of the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  and the <span class="highlightfromlegend legenditem15">pressing plate  15</span> .  </p>
                    
                        <p>          [0033]    In this regard, the upper and <span class="highlightfromlegend legenditem10">lower elastic plates  10</span>  and  12  and the <span class="highlightfromlegend legenditem15">pressing plate  15</span>  may have other sectional shapes as exemplified in  FIGS. 11(   a ) through  11 ( f ).  </p>
                    
                        <p>          [0034]    Accordingly, the present nail clippers can be reliably used without causing any problem associated with the conventional nail clipper. Further, since the upper and lower elastic plates are formed integrally with each other through the bent part, manufacturing process can be simplified. Also, since the cross-sections of the plates are arc-shaped, it is possible to reduce the thickness of the plates, thereby reducing manufacturing and transportation costs and overall weight of the nail clipper.  </p>
                    
                        <p>          [0035]    Although preferred embodiments of the present invention have been described for illustrative purposes, those skilled in the art will appreciate that various modifications, additions and substitutions are possible, without departing from the scope and spirit of the invention as disclosed in the accompanying claims. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                
                    <a href="US569903.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US569903-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>winger</h5>
                            <div><span class='date'>1896</span>
                            <span class='inventor'></span></div>
                        </div>
                    </a>
                
                    <a href="US1085569.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US1085569-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Manicuring device</h5>
                            <div><span class='date'>1914</span>
                            <span class='inventor'>Casse Henry La</span></div>
                        </div>
                    </a>
                
                    <a href="US2753626.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US2753626-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper</h5>
                            <div><span class='date'>1956</span>
                            <span class='inventor'>Bowers Thomas S.</span></div>
                        </div>
                    </a>
                
                    <a href="US3042047.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US3042047-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Manicure appliances</h5>
                            <div><span class='date'>1962</span>
                            <span class='inventor'>Plaskon Stephen J.</span></div>
                        </div>
                    </a>
                
                    <a href="US5722435.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5722435-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper for clipping and directing the discharge of clipped nails</h5>
                            <div><span class='date'>1998</span>
                            <span class='inventor'>Harris David G.</span></div>
                        </div>
                    </a>
                
                    <a href="US5791049.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5791049-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail cutter</h5>
                            <div><span class='date'>1998</span>
                            <span class='inventor'>Dolev Moshe</span></div>
                        </div>
                    </a>
                
                    <a href="US7007387.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US7007387-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper for pets with curved blade pieces</h5>
                            <div><span class='date'>2006</span>
                            <span class='inventor'>Kuzuu Masayuki</span></div>
                        </div>
                    </a>
                
                    <a href="US7194806.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US7194806-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper for pets with curved cutting edges</h5>
                            <div><span class='date'>2007</span>
                            <span class='inventor'>Kuzuu Masayuki</span></div>
                        </div>
                    </a>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="US7913391.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US7913391-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper apparatus</h5>
                            <div><span class='date'>2011</span>
                            <span class='inventor'>Eul Timothy Edward</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US20100071213">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>