<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US2123357</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US2123357</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Nippers for skin and fingernails </h1>
            <div class="date_line">
                <span class='date' title="July 12, 1938">1938</span>
                
                    <span class='inventor'>
                        Gustav Grah Carl
                        ,&nbsp;
                    </span>
                
                    <span class='inventor'>
                        Paul Giesen
                        
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Gustav Grah Carl
                            ,&nbsp;
                        </span>
                    
                        <span class='assignee'>
                            Paul Giesen
                            
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US2123357-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US2123357-fig1.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US2123357-fig2.png" alt='nofig'
                        style="width:100%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 5</span>be
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 10</span>closed
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 12</span>july
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 35</span>shoulder
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 50</span>inner surface
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 72</span>recess
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> July 12, 1938;. Q&#39;GJGRAH ETAL- 2,123,357]   </p>
                    
                        <p>  - NIP</span>PERS FQR SKIN AND FINGERNAILS Filed July 3, 1936 Patented July 12, 1938 IUNITED STATES NIPPERS FOR SKIN AND FINGERNAILS Carl Gustav Grah and Paul Giesen, Solingen,   </p>
                    
                        <p>  Germany Application July 3, 1936, Serial No. 88,802   </p>
                    
                        <p>  3 Claims.   </p>
                    
                        <p>   The nippers for skin and finger nails automatically openingby spring action comprise a spring, one end of which is fixed on the inner surface of one arm of the nippers, the other,   </p>
                    
                        <p>  5 free end bearing under tension against the other arm of nippers if the nippers are closed. A closing device maintains the nippers in the closed position and, if this closing device is removed, the nippers are automatically opened by the distending spring. The spring is under tension as long as the nippers are closed so that it soon fatigues and becomes slack. Another inconvenience is that the free end of the spring moves along the surface of the opposite handle arm of the nippers, during the closing of the nippers the spring end wears off the material of the surface so that after longer use the closing of the tongue becomes difficult or is prevented.   </p>
                    
                        <p>  If no holding device is provided, the spring is rotatable around its fixation pin so that it can be adjusted on the corresponding arm of the nip- J pers to come out of the range, of the opposite handle arm. It is more difficult to store and 7 transport such nippers and the spring has to be 5 adjusted relative to the opposite handle <span class="highlightfromlegend legenditem5">arm t</span>o make the nippers ready for use. As the spring is adjustably mounted, it happens frequently that the spring slips off the opposite arm of the handle when the nippers are being used.   </p>
                    
                        <p>   All these inconveniences are obviated in the nippers according to the invention in that the free end of the spring is bent and on the inner surface of the opposite arm of the handle a shoulder is provided, the surface of said shoulder 35 along which the spring end slips d<span class="highlightfromlegend legenditem35">uring the op</span>eration being parallel to the bent end of the spring. The rear surface of the shoulder has a recess into which the spring end engages if the nippers are closed.   </p>
                    
                        <p>  40 An embodiment of the invention is illustrated by way of example in the accompanying drawing a in which:-   </p>
                    
                        <p>   Flg. 1 shows the closed nippers in elevation. Fig. 2 shows the opened nippers in elevation. Fig. 3 shows the closed nippers in elevation partly in section. n   </p>
                    
                        <p>   Between the arms a and b oithe handle of the nippers a spring c is arranged, the lower end of which is fixed by a screw, d on the inner surface 50 of the handle arm a. The lowe<span class="highlightfromlegend legenditem50">r end e of the sp</span>ring 0 is bent outwards at right angles and engages in a recess a in the inner surface of the handle arm a. The other arm I: of the handle has a projection f on its inner side and the rear Germany&#39; December 23, 1935 face of the projection has a recess 72. designed to receive the free end of<span class="highlightfromlegend legenditem72"> spring 0 </span>which is bent towards the pivot point of the arms a, b.   </p>
                    
                        <p>   After the nippers have been used, the free end ofspring c is inserted by hand into the recess h of arm b of the open nippers, whereupon the nippers are closed. The spring 0 is under slight tension if the nippers are closed so thatthe bent free end of the spring jams inthe recess h&#39; and securely holds the nippers in the closed 10 position. The tension of the spring <span class="highlightfromlegend legenditem10">0 is so sl</span>ight, that; fatiguing of the spring is avoided.   </p>
                    
                        <p>   To use the nippers the arms of the handle are spread so that the upper end of the spring 0 is pulled out of recess h and bears against the side face of the projection f, on which the bent of! end of the spring slides to and fro during the operation of the nippers. In the recess h of the projection I cotton wool impregnated with oil or fat is locateddesigned to lubricate the bent free end of the spring 0 so that it smoothly slides on the guide surface of the projection and does not wear into the same.   </p>
                    
                        <p>   The invention is not limited to skin and nail nippers but designed for any automatically opening instruments, such as tongs, pincers and scissors, garden-shears and shears for carving birds.   </p>
                    
                        <p>   I claim:- 1. Skin and nail nippers opening automatically by spring action and comprising in combination crossing arms pivotally connected at the point of intersection, a plate spring attached to and extending from the lower portion of one of said arms. the second arm of said nippers having an inwardly and downwardly directed projection forming at the face located opposite the first arm a sliding surface for the free end of said spring when the nippers are in their operative position, said projection having a means for removably attaching the free end of said spring thereto, said free end of the spring being slightly curved in the direction to the pivot of the nippers.   </p>
                    
                        <p>   2. Nippers as specified in claim &#39;1, in which said means is a recess adapted to receive the free end of the spring when the nippers are in their closed position.   </p>
                    
                        <p>   3. Nippersas specified in claim 1, in which said means, is a recess adapted to receive the free end of the spring when the nippers are in their closed position, and that lubricating means for said free end of the spring are provided in said recess.   </p>
                    
                        <p>  cam. ous&#39;rav GRAB. PAUL omsan<span class="highlightfromlegend legenditem12">. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US2123357">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>