<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US2831247</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US2831247</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Nail clips </h1>
            <div class="date_line">
                <span class='date' title="April 22, 1958">1958</span>
                
                    <span class='inventor'>
                        Spear Arthur S.
                        
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Revlon Implement Corp
                            
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US2831247-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US2831247-fig1.png" alt='nofig'
                        style="width:95.62334217506631%" />
                
                    <img src="../static/figures_extracted/US2831247-fig2.png" alt='nofig'
                        style="width:36.737400530503976%" />
                
                    <img src="../static/figures_extracted/US2831247-fig3.png" alt='nofig'
                        style="width:54.641909814323604%" />
                
                    <img src="../static/figures_extracted/US2831247-fig4.png" alt='nofig'
                        style="width:52.12201591511936%" />
                
                    <img src="../static/figures_extracted/US2831247-fig5.png" alt='nofig'
                        style="width:52.51989389920424%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 1</span>cutter blade
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 2</span>lower cutter blade
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 4</span>receive headed post
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 5</span>lever
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 6</span>spaced lugs
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 7</span>rivet
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 9</span>nail file
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 22</span>ril
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 45</span>rivet turned
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 180</span>must be swung
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> A. S. SPEAR NAIL CLIPS Filed Dec. 17, 1957 A<span class="highlightfromlegend legenditem22"> ril 22</span>, 1958 United States Patent NAIL CLIPS Arthur S. Spear, Irvington, N. J., assignor to Revlon I mplement Corporation, Irvington, N. J., a corporation of New York Application December 17, 1957, Serial No. 703,410   </p>
                    
                        <p>  2 Claims. (Cl. 30-28) The object of the present invention is to provide a nail clip incorporating two cutting blades normally connected for spring action to maintain the cutting areas of the blade apart, the blades being secured together at their rear end by a welding, and being forced into cutting position by a lever. This lever is customarily forked at its front end, and pivoted to a rotating post which is carried by one of the cutter blades and which passes through an opening in the second cutter blade.   </p>
                    
                        <p>   In devices of the stated kind, the lever before operation lies in a position close to the top cutter blade, and within the boundaries of the latter. However, being pivoted, it may swing laterally and out of proper position, so that means have been provided heretofore to restrain lateral movement of the top lever, except for when it is manually moved above said restraining means. For example, spaced lugs have been formed at the sides of a pivotally held nail file, to be engaged by the side edges of the lever at its rear end. But unless the nail file, which may be swung from side to side, is first properly positioned on the top cutter blade, the lever will not fit between the nail file lugs, and also the restraint is not adequate, since the file is pivoted to move sidewise.   </p>
                    
                        <p>   By means of the present invention the cutter blades are engaged by a rivet of special construction, which will not rotate, which has restraining lugs at its sides, and which will always aiford proper registration with the lever.   </p>
                    
                        <p>   The invention will be described with reference to the accompanying drawings, in which:   </p>
                    
                        <p>   Fig. 1 is an enlarged top plan view of a nail clip embodying the invention, a nail file being shown in dotted lines.   </p>
                    
                        <p>   Fig. 2 is a side elevation of the structure shown in Fig. 1.   </p>
                    
                        <p>   Fig. 3 is a fragmentary top plan view taken at the rear end of the structure.   </p>
                    
                        <p>  Fig. 4 is a vertical section on the line 4-4, Fig. 3.   </p>
                    
                        <p>   Fig. 5 is a view in elevation of the specially formed rivet.   </p>
                    
                        <p>   Fig. 6 is a vertical section of the<span class="highlightfromlegend legenditem45"> rivet turned 45</span> degrees from its position in Fig. 5, the section being on the line 6-6, Fig. 5.   </p>
                    
                        <p>   Referring to the drawings, I have shown at 1 an upper cutter blade, and at 2 a lower cutter blade, each blade being bent so that the blades diverge toward their cutter ends, and have spring action when the cutter ends are brought together by a lever. The rear ends of the cutter blades are preferably secured together by spot welding,   </p>
                    
                        <p>   2,831,247. Patented Apr. 22, 1958 and rearwardly of their front cutting edges the blades are apertured to<span class="highlightfromlegend legenditem4"> receive headed post 4</span> to<span class="highlightfromlegend legenditem5"> which lever 5</span> is pivoted. For such purpose the lever is forked at its front end and provided with opposed pintles (not shown), which enter a slot at 4x of the post. In the position of Figs. 1 and 2 the lever is inactive, and<span class="highlightfromlegend legenditem180"> must be swung 180</span> degrees, and then brought up in an arc and into reverse position for action and so that the contact member 5x thereof will engage the<span class="highlightfromlegend legenditem1"> cutter blade 1</span>, whereupon downward movement of the lever will bring the cutting edges together.   </p>
                    
                        <p>   In its inactive position the rear side edges of<span class="highlightfromlegend legenditem5"> lever 5</span> are butted by<span class="highlightfromlegend legenditem6"> spaced lugs 6</span> carried by a<span class="highlightfromlegend legenditem7"> specially formed rivet 7</span>.<span class="highlightfromlegend legenditem7"> Rivet 7</span> has a plate-like top which directly carries the<span class="highlightfromlegend legenditem7"> lugs 7</span>, and it has a squared shank area at 8 which merges into annular area 9xx which may be upset at the base of the<span class="highlightfromlegend legenditem2"> lower cutter blade 2</span>, as shown in Fig. 4. The shank area may be flattened at one side only if desired.   </p>
                    
                        <p>   Preferably the rivet receives a<span class="highlightfromlegend legenditem9"> nail file 9</span>, and to permit the latter to be freely swung outwardly for use the opening therein is of a diameter equivalent to the major distance across the squared shank of the rivet and as shown by the dotted lines 9x, Fig. 3.   </p>
                    
                        <p>   It will be seen from the above that the rivet is held against rotation and that when the lever is brought to the position of Figs. 1 and 2 the lever will be held against lateral motion until it is raised for action against the spring pressure of<span class="highlightfromlegend legenditem1"> cutter blade 1</span>. It will be understood that the apertures in the cutter blades which receive the squared shank of the rivet will correspond with the latter formation as to one or both of the blades.   </p>
                    
                        <p>   Having described my invention, what I claim and desire to secure by Letters Patent, is as fol<span class="highlightfromlegend legenditem1">lows: i   </p>
                    
                        <p>   1</span>. A nail clip comprising an upper and a lower cutter blade, a rivet at the rear end thereof, a post carried by the lower blade and projected through an opening in the upper blade, the post being rotatable, a lever forked at its front end and pivotally connected to the post, whereby the lever may be swung laterally and then reversed in position to bear down upon the top blade for cutting action, said rivet being formed with spaced upwardly projecting lugs adapted to engage the rear side edges of the lever, the rivet entering a squared opening in at least the top cutter blade, and being formed with a shank area adapted to engage said squared opening wall of the top blade, the lower end of the rivet being held by the lower cutter blade, as and for the purpose set forth.   </p>
                    
                        <p>   2. A nail clip comprising an upper and a lower cutter blade, a rivet at the rear end thereof, a post carried by the lower blade and projected through an opening in the upper blade, the post being rotatable, a lever forked at its front end and pivotally connected to the post, whereby the lever may be swung laterally and then reversed in position to bear down upon the top blade for cutting action, said rivet being formed with spaced upwardly projecting lugs adapted to engage the rear side edges of the lever, the rivet entering a squared opening in at least one of the cutter blades, and being formed with a shank area adapted ot engage said squared opening wall of the top blade.   </p>
                    
                        <p>  No references cited. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US2831247">google patent 🔗</a>
            <a href='../list.html'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>