<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US327065</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US327065</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Apparatus for cleaning and trimming finger-nails </h1>
            <div class="date_line">
                <span class='date' title="September 29, 1885">1885</span>
                
                <span class='assignee-list'>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US327065-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US327065-fig1.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US327065-fig2.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US327065-fig3.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US327065-fig4.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US327065-fig5.png" alt='nofig'
                        style="width:88.52813852813853%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 1</span> 2 sheets-sheet
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 2</span> 2 sheets-sheet
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 5</span>ends thereof
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> (No Model.<span class="highlightfromlegend legenditem1">) 2 Sheets-Sheet 1</span>.   </p>
                    
                        <p>   G D. BURTON. APPARATUS FDR CLEANING AND TRIMMING FINGER NAILS.   </p>
                    
                        <p>  No. 327,065. Patented Sept. 29, 1885.   </p>
                    
                        <p>  x ii/2225- INVENTEIR- (32A A j N. PEKERS. Pbulo&#39;hmgnpben Wishinginfl, n. c.   </p>
                    
                        <p>  (No Model.<span class="highlightfromlegend legenditem2">) 2 Sheets-Sheet 2</span> G. D. BURTON.   </p>
                    
                        <p>  APPARATUS FOR CLEANING AND TRIMMING FINGER NAILS.   </p>
                    
                        <p>  No. 327,065. Patented Sept. 29, 1885.   </p>
                    
                        <p>  WITNEEEEEL Nv PETERS. Phulc-Liihngnphor, Washington. 0. c4   </p>
                    
                        <p>  UNITED STATES PATENT OFFICE.   </p>
                    
                        <p>  GEORGE D. BURTON, OF BOSTON, MASSACHUSETTS.   </p>
                    
                        <p>  APPARATUS FOR CLEANING AND TRIMMING FINGER-NAILS.   </p>
                    
                        <p>  SPECIFICATION forming part of Letters Patent No. 327,065, dated September 29, 1885.   </p>
                    
                        <p>  Application filed June 1, 1885. (N0 model.)   </p>
                    
                        <p>  To all whom it may concern:   </p>
                    
                        <p>   Be it known that I, GEORGE D. BURTON, of Boston, county of Suffolk, and State of Massachusetts, have invented an Improvement in Apparatus for Trimming and Cleaning Finger-N ails, of which the following description, in connection with the accompanying drawings, is a specification, like letters on the drawings representing like parts.   </p>
                    
                        <p>   This invention has for its object the production of an instrument especially adapted for trimming and cleaning finger-nails, the instrument being easily operated and cheaply constructed.   </p>
                    
                        <p>   My improved implementhas cutting-jaws curved to insure for the nail the proper curved cut. The handles carrying the cutting-jaws are pivoted together, like shears, a spring normally acting to keep the cuttingedges separated.   </p>
                    
                        <p>   Figure l&#39;shows in perspective an implement constructed in accordance with my invention; Fig. 2, a rear side view thereof; Fig. 3, a modification to be referred to; Fig. 4:, an edge view of Fig. 2; Fig. 5, an enlarged cross-section of the cutting jaws, taken on the dotted line :20 :0, Figs. 1 and 3; and Fig. 6 shows the implement in operation.   </p>
                    
                        <p>   The hand-levers A B are connected together by a pivot, a, and are normally held spread apart by a fiat spring, I), secured to one of the said levers, as A at 0, its free end bearing against the other lever, B, and being provided with a slot or guideway, d, to re ceive a pin, 6, rigidly secured to the lever B, the slot and pin guarding against displacement of the spring.   </p>
                    
                        <p>   The cuttingjaws m n are integral with the hand-levers A B, respectively, and are curved, as shown in Fig. 5, to conform, substantially, to the proper curve for the finger-nail to be trimmed, and the ends of the said jaws are also curved, as at m it, (see Fig. 6,) to form lips, either of which may be easily inserted beneath a nail to clean it.   </p>
                    
                        <p>   The rear faces of the jaws m it may be roughened, as at m of, (see Fig. 2,) to serve the purpose of a file to be employed as usual. The cutting-edges come squarely together and carried in the pocket, I supply the<span class="highlightfromlegend legenditem5"> ends thereof 5</span> 5 with a fastening consisting of a link, 0, loosely connected with one lever, 0, while its opposite end engages a hook, 0, of the other lever.   </p>
                    
                        <p>  If desired, the cutting-jaws m it may be bent aside, as at 19, Fig. 3, to extend forward out of 6c the plane of the hand-levers A B.   </p>
                    
                        <p>   The operation of the implement is as follows: The hand -levers having been grasped by the operator, the cuttingjaws are brought together, similar to a pair of scissors, and the nail is trimmed. The file or roughened surface m a may then be employed, if desired. and the implement turned in the hand of the operator, as shown in Fig. 6, when the curved lip m or a may be used to clean the nail.   </p>
                    
                        <p>   The implement is small and simple, may be conveniently carried in the pocket, and for the use to which it is adapted it is both efficient and time-saving.   </p>
                    
                        <p>  I claim 1. Theherein-describedimplement for trimming and cleaning finger-nails, it consisting of the pivoted hand-levers A B, having cutting-jaws m n. curved,as shown and described, and having laterally-curved ends on n, the cutting edges meeting, but not passing each other, substantially as described.   </p>
                    
                        <p>   2. Theherein-described implement fortrimming and cleaning finger-nails, it consisting of the pivoted hand-levers A B, having cutting-jaws ma, curved,as shown and described, and having laterally-curved ends at n, the cutting-edges meeting, but not passing each other, the rear sides of the jaws being made like a file, substantially as described.   </p>
                    
                        <p>   In testimony whereof Ihave signed my name to this specification in the presence of two subscribing witnesses.   </p>
                    
                        <p>  GEO. D. BURTON.   </p>
                    
                        <p>  Vitnesses:   </p>
                    
                        <p>  ALLsToN G. LADD, JOEL M. HOLDEN. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="US8984754.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US8984754-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper with blade-insert</h5>
                            <div><span class='date'>2015</span>
                            <span class='inventor'>Kaidi Alexandre Rachid, Shamsapour Hamid Reza</span></div>
                        </div>
                    </a>
                
                    <a href="US2422207.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US2422207-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Manicuring implement</h5>
                            <div><span class='date'>1947</span>
                            <span class='inventor'>Rebecca Nalpantian</span></div>
                        </div>
                    </a>
                
                    <a href="US2890706.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US2890706-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Combination manicuring implements</h5>
                            <div><span class='date'>1959</span>
                            <span class='inventor'>John Guardino</span></div>
                        </div>
                    </a>
                
                    <a href="US5101563.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5101563-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clipper</h5>
                            <div><span class='date'>1992</span>
                            <span class='inventor'>D. Orgelys Henri</span></div>
                        </div>
                    </a>
                
                    <a href="US5437679.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5437679-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail splitter device for implementing a wedge resection procedure to remove an ingrown toenail</h5>
                            <div><span class='date'>1995</span>
                            <span class='inventor'>Gaillard Douglas S.</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US327065">google patent 🔗</a>
            <a href='../list.html'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>