<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <title>US4903514</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US4903514</span>

            <span>
                
                    <span class='code_cpc'>
                        A44B15/005
                    </span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
                    <span class='code_cpc'>
                        Y10T70/8676
                    </span>
                
            </span>

            
            <h1> Combined nail clipper and key holder </h1>
            <div class="date_line">
                <span class='date' title="February 27, 1990">1990</span>
                
                    <span class='inventor'>
                        Jung Ha Yong
                         (US)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Jung Ha Yong
                             (US)
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="/static/figures_extracted/US4903514-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/US4903514-fig1.png" alt='nofig'
                        style="width:95.29411764705883%" />
                
                    <img src="/static/figures_extracted/US4903514-fig2.png" alt='nofig'
                        style="width:92.5%" />
                
                    <img src="/static/figures_extracted/US4903514-fig3.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/US4903514-fig4.png" alt='nofig'
                        style="width:62.94117647058823%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 10</span>key holder
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 11</span>nail clipper container
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 12</span>hollow portion
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 13</span>nail clipper
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 14</span>connecting member
                        </li>
                    
                        <li  class=&#34;non-consecutive&#34;  >
                            <span class='legend_number'> 15</span>key ring
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 17</span>aperture
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 18</span>locking pins
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 19</span>grooves
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 20</span>pin
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 21</span>portion
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 22</span>enlarged portion
                        </li>
                    
                        <li  class=&#34;non-consecutive&#34;  >
                            <span class='legend_number'> 23</span>cutting jaws
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 26</span>eyelet
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    
                        <h4> Abstract </h4>
                        <p> A combined nail clipper and key holder which comprises a nail clipper housing including a hollow portion provided with a pair of lateral grooves disposed on opposite walls of the housing, the nail clipper housing further including an aperture disposed at the rear end and a key ring connecting member rotatably attached to the front end thereof, a nail clipper having a pair of laterally extending locking pins, the nail clipper being rotatably mounted to the rear end of the nail clipper housing by an end pin which extends into the aperture whereby the nail clipper is rotatable between an inoperative portion where the nail clipper is held in its housing by the functional engagement between the lateral grooves and lateral locking pins and an operative position where the nail clipper is rotated out of the housing about the end pin. </p>
                    

                    <h4> Description </h4>
                    
                    
                        <p> BACKGROUND OF THE INVENTION  </p>
                    
                        <p>      1. Field of the Invention  </p>
                    
                        <p>      The present invention relates to a combined nail clipper and key holder and more particularly, to a nail clipper container pivotably housing a nail clipper therein for readily carrying and easily erecting the nail clipper from the nail clipper container.  </p>
                    
                        <p>      2. Description of the Prior Art  </p>
                    
                        <p>      Previously, several types of key holders and nail clippers have been separately developed. However, these key holders and nail clippers suffer from a number of difficulties since separate key holders and nail clippers require separate purchases which are expensive, and such separate items occupy a large amount of space in a pocket, a hand bag, or the like. Further, the unavailability of a nail clipper is frequently experienced when traveling.  </p>
                    
                        <p>      SUMMARY OF THE INVENTION  </p>
                    
                        <p>      Accordingly, it is an object of the present invention to provide a combined nail clipper and key holder which makes readily available the nail clipper for frequent use.  </p>
                    
                        <p>      Another object of the present invention is to provide a key holder panel having a hollow portion therein for pivotably housing a nail clipper which can be rotated from the housing for instant use.  </p>
                    
                        <p>      A further object of the present invention is to provide a nail clipper container including a key ring for carrying keys and a hollow portion disposed therein defined by a pair of grooves provided on both walls of the hollow portion thereof for slidably locking the nail clipper within the hollow portion through the use of a pair of locking pins expended from the middle portion of an outer cutting jaw member of the nail clipper.  </p>
                    
                        <p>      Other objects and further scope of applicability of the present invention will become apparent from the detailed description given hereinafter. It should be understood, however, that the detailed description and specific examples, while indicating preferred embodiments of the invention, are given by way of illustration only, since various changes and modifications within the spirit and scope of the invention will become apparent to those skilled in the art from this detailed description.  </p>
                    
                        <p>      Briefly described, the present invention relates to a combined nail clipper and key holder which comprises a nail clipper container, key holder, including hollow portion with a pair of grooves and an aperture disposed at the rear end portion thereof, and a nail clipper having a pair of locking pins for slidably engaging a pair of grooves and an eyelet and a pin for pivotably connecting the nail clipper to the key holder so that the nail clipper can be easily detached from or attached to the nail clipper container.  </p>
                    
                        <p>      </p>
                    
                        <p>      </p>
                    
                        <p>      BRIEF DESCRIPTION OF THE DRAWINGS  </p>
                    
                        <p>      The present invention will become more fully understood from the detailed description given hereinbelow and the accompanying drawings which are given by way of illustration only, and thus are not limitative of the present invention, and wherein:  </p>
                    
                        <p>      FIG. 1 is a front elevational view of a combined nail clipper and key holder containing cut-away portions in order to illustrate the construction of the device according to the present invention;  </p>
                    
                        <p>      FIG. 2 is a top plan view of the combined clipper and key holder according to the present invention;  </p>
                    
                        <p>      FIG. 3 is a front elevational view of the combined clipper and key holder according to the present invention in erected position;  </p>
                    
                        <p>      FIG. 4 is a top plan view of FIG. 3, and  </p>
                    
                        <p>      FIG. 5 is a perspective view of a pin operatively associated with an aperture of a nail clipper container according to the present invention.  </p>
                    
                        <p>      </p>
                    
                        <p>      </p>
                    
                        <p>      DESCRIPTION OF THE PREFERRED EMBODIMENTS  </p>
                    
                        <p>      Referring now in detail to the drawings for the purpose of illustrating the preferred embodiments of the present invention, the combined nail clipper and<span class="highlightfromlegend legenditem10"> key holder 10</span> as shown in FIGS. 1, 2, and 3 comprises a<span class="highlightfromlegend legenditem13"> nail clipper 13</span>, a<span class="highlightfromlegend legenditem11"> nail clipper container 11</span> including a hollow portion disposed therein for pivotably receiving the<span class="highlightfromlegend legenditem13"> nail clipper 13</span>, and a<span class="highlightfromlegend legenditem15"> key ring 15</span> pivotably connected to the<span class="highlightfromlegend legenditem11"> nail clipper contai<span class="highlightfromlegend legenditem16">ner 11</span> for pivotably holding keys 16</span>.  </p>
                    
                        <p>      The<span class="highlightfromlegend legenditem13"> nail clipper 13</span> includes an outer cutting jaw member 23a, an inner cutting jaw member 23b, an<span class="highlightfromlegend legenditem27"> actuating lever 27</span>, a file member, an<span class="highlightfromlegend legenditem26"> eyelet 26</span>, and a pair of<span class="highlightfromlegend legenditem18"> locking pins 18</span> which extend from the middle portion of the outer cutting jaw member 23a.  </p>
                    
                        <p>      The<span class="highlightfromlegend legenditem11"> nail clipper container 11</span> further includes an<span class="highlightfromlegend legenditem17"> aperture 17</span>, disposed at the rear end thereof, having an<span class="highlightfromlegend legenditem22"> enlarged portion 22</span> disposed at the outside portion thereof for slidably and rotatably receiving a<span class="highlightfromlegend legenditem20"> pin 20</span> having an<span class="highlightfromlegend legenditem21"> enlarged portion 21</span> disposed at the outside portion thereof for mounting the<span class="highlightfromlegend legenditem13"> nail clipper 13</span> to the nail clipper container (FIG. 5). Since the<span class="highlightfromlegend legenditem22"> enlarged portion 22</span> has plastic walls, it will be formed to expand slightly to receive the<span class="highlightfromlegend legenditem21"> rigid portion 21</span>.  </p>
                    
                        <p>      As shown in FIG. 4, the<span class="highlightfromlegend legenditem12"> hollow portion 12</span> of the<span class="highlightfromlegend legenditem11"> nail clipper container 11</span> includes a pair of<span class="highlightfromlegend legenditem19"> locking grooves 19</span> on both walls thereof for slidably receiving the pair of<span class="highlightfromlegend legenditem18"> locking pins 18</span> of the<span class="highlightfromlegend legenditem13"> nail clipper 13</span>. The<span class="highlightfromlegend legenditem19"> grooves 19</span> are<span class="highlightfromlegend legenditem18"> slightly smaller than locking pins 18</span> so that a function fit is established when the pins are forced into the<span class="highlightfromlegend legenditem19"> grooves 19</span>.  </p>
                    
                        <p>      In assembly, the<span class="highlightfromlegend legenditem11"> nail clipper con<span class="highlightfromlegend legenditem16">tainer 11</span> pivotably containing key 16</span> through the<span class="highlightfromlegend legenditem14"> connecting member 14</span> and the<span class="highlightfromlegend legenditem15"> key ring 15</span> is assembled with the<span class="highlightfromlegend legenditem13"> nail clipper 13</span> by inserting the<span class="highlightfromlegend legenditem20"> pin 20</span> into the<span class="highlightfromlegend legenditem17"> aperture 17</span> of the<span class="highlightfromlegend legenditem11"> nail clipper container 11</span> through the<span class="highlightfromlegend legenditem26"> eyelet 26</span> of the<span class="highlightfromlegend legenditem13"> nail clipper 13</span>.  </p>
                    
                        <p>      In operation, when the user desires to use the<span class="highlightfromlegend legenditem11"> nail clipper 11</span> from the combined nail clipper and<span class="highlightfromlegend legenditem10"> key holder 10</span> according to the present invention, the finger is inserted into a<span class="highlightfromlegend legenditem27"> space 27</span> in the vicinity of<span class="highlightfromlegend legenditem23"> cutting jaws 23</span> of the<span class="highlightfromlegend legenditem13"> nail clipper 13</span> and the<span class="highlightfromlegend legenditem13"> nail clipper 13</span> is pulled out in the direction indicated by the arrow from the housed position shown in FIG. 2 to the erected position shown in FIG. 3.  </p>
                    
                        <p>      The invention being thus described, it will be obvious that the same may be varied in many ways. Such variations are not to be regarded as a departure from the spirit and scope of the invention, and all such modifications as would be obvious to one skilled in the art are intended to be included in the scope of the following claims. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                
                    <a href="/view/US3261094.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <img src="/static/thumbnails/US3261094-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Combination implement assembly</h5>
                            <div><span class='date'>1966</span>
                            <span class='inventor'>Bliss Harvey N.</span></div>
                        </div>
                    </a>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="/view/US20060042092.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <img src="/static/thumbnails/US20060042092-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail care system with improved nail clipper</h5>
                            <div><span class='date'>2006</span>
                            <span class='inventor'>Blair Eric C.</span></div>
                        </div>
                    </a>
                
                    <a href="/view/US20060143923.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <img src="/static/thumbnails/US20060143923-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail care system with improved nail clipper</h5>
                            <div><span class='date'>2006</span>
                            <span class='inventor'>Blair Eric, Christianson Tristan M., Duncan Mark H.</span></div>
                        </div>
                    </a>
                
                    <a href="/view/US20110079234.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <img src="/static/thumbnails/US20110079234-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Hole exposed on the key ring nail clipper</h5>
                            <div><span class='date'>2011</span>
                            <span class='inventor'>Collins Lars Lamont</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US4903514">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>