<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US762725</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US762725</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Manicure device </h1>
            <div class="date_line">
                <span class='date' title="June 14, 1904">1904</span>
                
                    <span class='inventor'>
                        Kaufmann Ernst
                         (DE)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Kaufmann Ernst
                             (DE)
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US762725-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US762725-fig1.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US762725-fig2.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US762725-fig3.png" alt='nofig'
                        style="width:87.5912408759124%" />
                
                    <img src="../static/figures_extracted/US762725-fig4.png" alt='nofig'
                        style="width:74.45255474452554%" />
                
                    <img src="../static/figures_extracted/US762725-fig5.png" alt='nofig'
                        style="width:100%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 9</span>helical spring
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> No. 762,725. PATENTED&#39;JUNE 14, 19.04. E. KAUFMANN. MANIGURE DEVICE.   </p>
                    
                        <p>   APPLIOATION FILED 0033.13. 1903.   </p>
                    
                        <p>  N0 MODEL.   </p>
                    
                        <p>  -&#39; Illilllllllllllllllllll&#34; Elllllllllllllll Patented June 14, 1904.   </p>
                    
                        <p>  PATENT OFFICE.   </p>
                    
                        <p>  ERNST KAUFMANN, OF SOLINGEN, GERMANY.   </p>
                    
                        <p>  MANICURE DEVICE.   </p>
                    
                        <p>  SPECIFICATION forming part of Letters Patent No. 762,725, dated June 14, 1904. Application filed October 13, 1903. Serial No. 176,838. (No model.)   </p>
                    
                        <p>  I is a specification.   </p>
                    
                        <p>   This invention relates to a device for trimming the finger-nails; and it has for its object to provide a construction in which the shanks operating the cutter-blades are extensible. In the closed position the outer portions of said shanks surround the inner portions as well as I the blades, and in the position for use said outer portions form a continuation of the inner portions leading directly to the jaws, whereby greater leverage is provided, while the device being readily capable of being folded up can be conveniently carried in the vest-pocket.   </p>
                    
                        <p>   In the accompanying drawings, which illustrate the invention, Figure 1 shows the device in closed position. Fig. 2 shows the article in partly-opened position, and Fig. 3 is a like view showing the device opened and ready for use. Figs. 4 and 5 are views from opposite edges of Fig. 3. Fig. 6 is a plan of the cutter-jaws. Fig. 7 is a view corresponding to Fig. 3 and illustrating a modification.   </p>
                    
                        <p>   As shown, the device comprises two shanks 0 and (Z, having at their ends jaws m and 3/ and pivotally connected by the<span class="highlightfromlegend legenditem2"> pin 2</span>,. The cutting-surfaces are curved, as shown, but have preferably a plane cutting edge, as illustrated in plan in Fig. 6.   </p>
                    
                        <p>   In the construction shown in Figs. 1 to 5 arms I) and a are pivoted, respectively, to the shanks c and (Z, the said arms having ribs formed on the front and rear sides thereof which enable the arms to be used as nail-files. The said arms I) and a lie in springs of channel shape ff, having eyes which, in conjunction with the rigid shanks c and (Z, form hinges, whose pivots are the<span class="highlightfromlegend legenditem8"> pins 8</span> s. The springjaws f f clamp the shanks closely with considerable friction, so as to maintain the arms in their open and closed positions. The parts a and b are riveted to the springs f f&#34; and their upper ends abut against the extremities of the shanks c and d. Between the two rigid shanks 0 and (Z a<span class="highlightfromlegend legenditem9"> helical spring 9</span> or a bladespring is interposed, which has the tendency to separate the said shanks.   </p>
                    
                        <p>   In the position shown in Fig. 1 the arms (a and b are held in such wise as to surround the shanks 0 and d by means of a<span class="highlightfromlegend legenditem2"> clip 2</span>), pivoted at s and adapted to be slipped over the<span class="highlightfromlegend legenditem6"> arm 6</span> and stop against the<span class="highlightfromlegend legenditem8"> pin 8</span>. The clip 0) being released and from the position indicated in Fig. 1 set into the position shown in Fig. 2 under the action of the spring p, the shanks c and (Z are forced apart. The levers and b can then be unfolded to the position shown in Fig. 3 and the cutter is ready for use.   </p>
                    
                        <p>   In place of pivoting the arms I) and (r to the shanks 0 and (Z, forming a continuation thereof, the<span class="highlightfromlegend legenditem6"> additional lovers 6</span> (r may be adapted to slide along grooves formed in the shanks c and (Z, as shown in Fig. 7 being moved out and in to increase the leverage for application of the cutter, or vice versa, when the article is out of use to diminish the size of the device. In this case the movement of the<span class="highlightfromlegend legenditem6"> arms 6</span> a relatively to the shanks may be controlled by small pins. The clip o is pivoted to<span class="highlightfromlegend legenditem8"> two pivots 8</span> as shown.   </p>
                    
                        <p>   The arm (0 is preferably rounded off at its free end, as shown in Fig. 4, the other arm having a point g, so that in one and the same construction are provided a device of small size enabling considerable purchase to be obtained in cutting the finger-nails, a nail-file, and devices for pressing back the flesh around the nail and for cleaning beneath the nail.   </p>
                    
                        <p>   With the formation of cutting-surface shown it is possible to cut into the corners of the nails, while also cutting the latter in arcuate form. In other words, the article just described presents, in spite of its small size, all the features required for complete manicure.   </p>
                    
                        <p>   What I claim, and desire to secure by Letters Patent of the United States, is   </p>
                    
                        <p>   1. A nail-cutting device comprising a pair of shanks carrying cutter-blades, a pin on which said shanks are pivoted, a pair of arms pivoted one to each of said shanks and adapted when open to form an extension thereof, and when folded to inclose said shanks and abut at a point beyond the cutter-blades, a spring tending to separate said shanks and a clip engaging the ends of said shanks at the point where the arms are pivoted thereto as and for the purpose set forth.   </p>
                    
                        <p>   2. A nail-cutting device comprising a pair of shanks carrying cutter-blades, a pivotal connection between said shanks, a pair of arms provided with spring-jaws pivotally connected one to each of said shanks and adapted when opened out to form an extension of said shanks and when closed to surround said shanks, said spring-jaws tending to maintain said arms in open position, a spring tending to separate said shanks and a clip pivoted to one of said shanks at the point where it is pivoted to the arm to hold the ends of the shanks together when the device is closed.   </p>
                    
                        <p>   In testimony whereof I have signed my name to this specification in the presence of two subscribing witnesses.   </p>
                    
                        <p>  ERNST KAUFMAN N.   </p>
                    
                        <p>  Witnesses:   </p>
                    
                        <p>  G. A. BUREN, VICTOR W. H&#39;ELDT. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="US5890295.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5890295-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Complex action cutting device</h5>
                            <div><span class='date'>1999</span>
                            <span class='inventor'>Wachtel Jeffrey I., D. Andrade Bruce M.</span></div>
                        </div>
                    </a>
                
                    <a href="US5701672.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5701672-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Complex action nail clipper</h5>
                            <div><span class='date'>1997</span>
                            <span class='inventor'>Wachtel Jeffrey I., D. Andrade Bruce M.</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US762725">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>