<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US7954242</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US7954242</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Electric nail clipper </h1>
            <div class="date_line">
                <span class='date' title="June 07, 2011">2011</span>
                
                    <span class='inventor'>
                        Brizan Hollis
                         (US)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Brizan Hollis
                            
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US7954242-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US7954242-fig1.png" alt='nofig'
                        style="width:55.43822597676874%" />
                
                    <img src="../static/figures_extracted/US7954242-fig2.png" alt='nofig'
                        style="width:55.54382259767687%" />
                
                    <img src="../static/figures_extracted/US7954242-fig3.png" alt='nofig'
                        style="width:84.58289334741288%" />
                
                    <img src="../static/figures_extracted/US7954242-fig4.png" alt='nofig'
                        style="width:80.99260823653643%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 3</span>line
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 4</span>line
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 10</span>pad
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 15</span>spring
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 20</span>trimming edges
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 25</span>cavity
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 26</span>protrusion
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 27</span>horizontal members
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 30</span>casing
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 31</span>battery
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 35</span>pivot point
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 40</span>cord
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 45</span>solenoid
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 50</span>switch
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    
                        <h4> Abstract </h4>
                        <p> This invention will assist individuals to either manually or automatically clip a toenail or fingernail. The fingernail or toenail is inserted into the front end of the device and a pair of trimming edges move together to clip the fingernail or toenail safely, easily and conveniently. One of the embodiments contemplates a manual device and the other is an electric device. </p>
                    

                    <h4> Description </h4>
                    
                    
                        <p> BACKGROUND OF THE INVENTION  </p>
                    
                        <p>      A. Field of the Invention  </p>
                    
                        <p>      This relates to trimming fingernails and toenails. This may be helpful with an individual who has limited strength. One embodiment is manual and the other is electric.  </p>
                    
                        <p>      B. Prior Art  </p>
                    
                        <p>      There are many other prior art references to nail clippers and electric nail clippers in general. An example is Martin, U.S. Pat. No. 6,865,812. Martin is a nail trimmer for a person to be able to comfortably trim toenails without having to assume an awkward position. This device is not electric; however, it is manual and is designed for people who cannot bend.  </p>
                    
                        <p>      Another example that can be found in the art prior is Dunn Jr., U.S. Pat. No. 4,847,994. This is a remotely actuated toe-nail clipper. Again, it functions like Martin in that it is designed to trim toenails from a remote location and would assist those individuals who have difficulty bending or stooping.  </p>
                    
                        <p>      BRIEF SUMMARY OF THE INVENTION  </p>
                    
                        <p>      This is a nail clipper that will come in two models. One is a manual model and the other is an electric model. The operation of the nail clipper will basically function the same in both instances, that is, to clip a toenail or fingernail.  </p>
                    
                        <p>      In the manual model, there will be a soft pad on the top surface for the comfort of the user. A set of trimming edges will be positioned at the end of a pair of horizontal members. At the opposite end of the horizontal members will be a pivot point that connects the horizontal members. A spring is located somewhere near the trimming edge to ensure that the device remains open during normal operation.  </p>
                    
                        <p>      The entire device will be surrounded by a plastic case. In order to make sure that the trimming edges move in a uniform direction, a guide, which will move within a cavity, is provided.  </p>
                    
                        <p>      In the electric model, instead of the individual pressing down on the soft pad, a push switch is placed on the front of the device. The device will probably be operated by standard electrical current but could probably be operated by a direct current source. The trimming edges as well as the guide mechanism will be identical in both embodiments.  </p>
                    
                        <p>      The push switch will allow an individual to press the switch and a pressure sensitive actuator or solenoid will engage the arms of a horizontal member, which is connected to the other horizontal member and hinged at one end. When the solenoid activates, the trimming edges will close on the fingernail or toenail.  </p>
                    
                        <p>      It is an object of this device to make a device that will allow an individual to clip toenails and fingernails safely and easily.  </p>
                    
                        <p>      </p>
                    
                        <p>      </p>
                    
                        <p>       </p>
                    
                        <p>        BRIEF DESCRIPTION OF THE DRAWINGS  </p>
                    
                        <p>          FIG. 1  is an isometric view of the manual version.  </p>
                    
                        <p>          FIG. 2  is an isometric view of the electric version.  </p>
                    
                        <p>          FIG. 3  is a view according to <span class="highlightfromlegend legenditem3">line  3</span> - 3  on  FIG. 1 .  </p>
                    
                        <p>          FIG. 4  is a view according to <span class="highlightfromlegend legenditem4">line  4</span> - 4  on  FIG. 2 .  </p>
                    
                        <p>       </p>
                    
                        <p>      </p>
                    
                        <p>      </p>
                    
                        <p>      DETAILED DESCRIPTION OF THE EMBODIMENTS  </p>
                    
                        <p>      This device is a toenail and fingernail clipper that comes in two basic embodiments: a manual version,  5 M, such as depicted in  FIGS. 1 and 3  and an electric version,  5 Z, such as depicted in  FIGS. 2 and 4 .  </p>
                    
                        <p>      The operation and object of this device is identical. This device will clip toenails and fingernails conveniently and safely. The electric version will be used for individuals who have limited strength in their arms or hands. The manual version will operate like a stapler to remove the unwanted toenail or fingernail.  </p>
                    
                        <p>      Regardless of which embodiment is used the device will be comprised of a pair or horizontal members,  27  and  27 S, that are contained within a <span class="highlightfromlegend legenditem30">casing  30</span> . <span class="highlightfromlegend legenditem20">Trimming edges  20</span>  will be positioned on the ends of the <span class="highlightfromlegend legenditem27">horizontal members  27</span> ,  27 S to clip the nail when the device is used. The <span class="highlightfromlegend legenditem20">trimming edges  20</span>  are positioned outside the casing, which permits a person to insert a toenail or fingernail between the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  when the device is operated.  </p>
                    
                        <p>      The <span class="highlightfromlegend legenditem27">two horizontal members  27</span> ,  27 S will be connected together at a <span class="highlightfromlegend legenditem35">pivot point  35</span> , probably secured by a pin located at the junction of the two horizontal members. At the opposite end of the horizontal members will be the <span class="highlightfromlegend legenditem20">trimming edges  20</span> . The <span class="highlightfromlegend legenditem20">trimming edges  20</span>  will be tapered to insure that a nail can be clipped.  </p>
                    
                        <p>      One of the <span class="highlightfromlegend legenditem27">horizontal members  27</span> S is stationary and the <span class="highlightfromlegend legenditem27">other horizontal member  27</span>  moves as the device is operated.  </p>
                    
                        <p>      First Embodiment-Manual Model  </p>
                    
                        <p>      In the manual version,  5 M, the components of the device will be housed in a <span class="highlightfromlegend legenditem30">casing  30</span> . On the top surface of the casing a <span class="highlightfromlegend legenditem10">pad  10</span>  for the convenience and comfort of the user will be provided.  </p>
                    
                        <p>      In the interior of the <span class="highlightfromlegend legenditem30">casing <span class="highlightfromlegend legenditem20"> 30</span>  will be two trimming edges  20</span> , which will be opposed to each other. The <span class="highlightfromlegend legenditem20">trimming edges  20</span>  will be positioned at one end of a pair of <span class="highlightfromlegend legenditem27">horizontal members  27</span> ,  27 S that are connected at a <span class="highlightfromlegend legenditem35">pivot  35</span>  at one end of the <span class="highlightfromlegend legenditem30">casing  30</span> .  </p>
                    
                        <p>      A <span class="highlightfromlegend legenditem15">spring  15</span>  will be positioned between the <span class="highlightfromlegend legenditem27">two horizontal members  27</span> ,  27 S to allow appropriate tension to ensure that the device remains open and the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  remain separated when not in use. In order that the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  move in a vertical direction to appropriately clip the nail a certain predetermined distance, a <span class="highlightfromlegend legenditem25">guide cavity  25</span>  will be provided.  </p>
                    
                        <p>      A <span class="highlightfromlegend legenditem26">protrusion  26</span>  that has a certain configuration will be used. A portion of the protrusion is placed within the <span class="highlightfromlegend legenditem25">cavity  25</span>  and will move a predetermined distance within the <span class="highlightfromlegend legenditem25">cavity  25</span> . The <span class="highlightfromlegend legenditem26">protrusion  26</span>  is designed with a <span class="highlightfromlegend legenditem26">flanged surface  26</span> F so that the movement of the <span class="highlightfromlegend legenditem26">protrusion  26</span>  within the <span class="highlightfromlegend legenditem25">cavity  25</span>  is restricted.  </p>
                    
                        <p>      The <span class="highlightfromlegend legenditem26">protrusion  26</span>  within the <span class="highlightfromlegend legenditem25">cavity  25</span>  will also ensure that the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  remain in alignment during normal operation but also prevent the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  from moving beyond a certain point.  </p>
                    
                        <p>      Alternative Embodiment-Electric Model  </p>
                    
                        <p>      In the alternative embodiment,  5 Z, the components will be housed in a <span class="highlightfromlegend legenditem30">casing  30</span> . The <span class="highlightfromlegend legenditem20">trimming edges  20</span>  will be positioned on one end identical to the manual model. Again, the horizontal members would be connected together at the <span class="highlightfromlegend legenditem35">pivot point  35</span>  at the junction of the two horizontal members.  </p>
                    
                        <p>      The difference between the manual and electrical models is that the electric embodiment will be powered by standard electrical current. A <span class="highlightfromlegend legenditem40">cord  40</span>  allows the device to be plugged into a wall socket. Alternatively, the device may also be operated by a <span class="highlightfromlegend legenditem31">battery  31</span> .  </p>
                    
                        <p>      On the front surface of the device a <span class="highlightfromlegend legenditem50">switch  50</span>  that will activate a <span class="highlightfromlegend legenditem45">pressure sensitive actuator or solenoid  45</span>  is provided. The <span class="highlightfromlegend legenditem45">solenoid  45</span>  is connected to the <span class="highlightfromlegend legenditem27">two horizontal members  27</span> ,  27 S and when activated will force the horizontal members to move closer together. The <span class="highlightfromlegend legenditem45">solenoid  45</span>  will maintain the position of the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  a certain predetermined distance apart from each other when not in use.  </p>
                    
                        <p>      When the <span class="highlightfromlegend legenditem50">switch  50</span>  is depressed, the <span class="highlightfromlegend legenditem45">pressure sensitive actuator or solenoid  45</span> , which is attached to the horizontal members, activates to bring the horizontal members closer together and bring the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  together to clip the nail.  </p>
                    
                        <p>      As in the manual model, a <span class="highlightfromlegend legenditem25">guide cavity  25</span>  is provided to ensure that the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  move in an appropriate direction relative to each other to clip the nail. The <span class="highlightfromlegend legenditem25">guide cavity  25</span>  will ensure that the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  move in a vertical direction to appropriately clip the nail a certain predetermined distance.  </p>
                    
                        <p>      A <span class="highlightfromlegend legenditem26">protrusion  26</span>  that is tapered with a <span class="highlightfromlegend legenditem26">flanged surface  26</span> F will move within the <span class="highlightfromlegend legenditem25">guide cavity  25</span>  to ensure appropriate alignment as the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  move towards each other to clip the nail but prevent the trimming edges from moving beyond a certain point.  </p>
                    
                        <p>      Because the movement of the <span class="highlightfromlegend legenditem27">horizontal members  27</span>  and  27 S is controlled by the <span class="highlightfromlegend legenditem45">solenoid  45</span> , no spring is used with this embodiment as the solenoid will keep the <span class="highlightfromlegend legenditem20">trimming edges  20</span>  a certain predetermined distance apart when not in use. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                
                    <a href="US5123430.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5123430-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Cutter device for fingernails or toenails</h5>
                            <div><span class='date'>1992</span>
                            <span class='inventor'>Davidovitz Zvi</span></div>
                        </div>
                    </a>
                
                    <a href="US5791049.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5791049-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail cutter</h5>
                            <div><span class='date'>1998</span>
                            <span class='inventor'>Dolev Moshe</span></div>
                        </div>
                    </a>
                
                    <a href="US6173497.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US6173497-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Nail clippers</h5>
                            <div><span class='date'>2001</span>
                            <span class='inventor'>Domenge Alberto G.</span></div>
                        </div>
                    </a>
                
                    <a href="US6557259.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US6557259-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Uniform artificial nail clipper</h5>
                            <div><span class='date'>2003</span>
                            <span class='inventor'>Nguyen Thanh</span></div>
                        </div>
                    </a>
                
                    <a href="US20090119922.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US20090119922-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Powered nail clipper</h5>
                            <div><span class='date'>2009</span>
                            <span class='inventor'>Doyle Sean Patrick, Doyle James Joseph</span></div>
                        </div>
                    </a>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US7954242">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>