<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">

        <title>US853832</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>US853832</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Nail-trimming device </h1>
            <div class="date_line">
                <span class='date' title="May 14, 1907">1907</span>
                
                    <span class='inventor'>
                        Ryan Martin M.
                         (US)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Ryan Martin M.
                             (US)
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="../static/figures_extracted/US853832-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="../static/figures_extracted/US853832-fig1.png" alt='nofig'
                        style="width:97.1671388101983%" />
                
                    <img src="../static/figures_extracted/US853832-fig2.png" alt='nofig'
                        style="width:25.77903682719547%" />
                
                    <img src="../static/figures_extracted/US853832-fig3.png" alt='nofig'
                        style="width:27.478753541076486%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li    >
                            <span class='legend_number'> 1</span>casing
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 2</span>closure
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 3</span>cap
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 4</span>threaded shaft
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 5</span>abrading disk
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 7</span>cutters
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 8</span>sha inclined edges
                        </li>
                    
                        <li  class="non-consecutive"  >
                            <span class='legend_number'> 9</span>arcuate slots
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 11</span>nut
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 12</span>or handle
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 13</span>apertures
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> PATENTED MAY 14, 1907.   </p>
                    
                        <p>   M. M. RYAN. NAIL&#39;TRIMMING DEVICE.   </p>
                    
                        <p>   Show; M217 Mfg em APPLICATION FILED MAB. 1 2, 1907.   </p>
                    
                        <p>  yawn:   </p>
                    
                        <p>  &#34; UNITEDSTATES PA NT OFFICE.   </p>
                    
                        <p>  MARTIN M. RYAN, .oF OBEI tLIN, OHIO.   </p>
                    
                        <p>   NAIL-TRIMMING DIEVICE.   </p>
                    
                        <p>  der skin adjacent to the nails.   </p>
                    
                        <p>  - A further object of the invention is to provide a. nail trimming tool of a rotary characterincluding cutting members whereby the nails may be&#39; pared and an abrading disk by&#39; may be imparted to means of which polish the trimmed edges. I   </p>
                    
                        <p>   Further objects of the invention are to simplify and improve the construction and operation of this class of devices.   </p>
                    
                        <p>   With these and other ends in view which will readily appear as the nature of the invention is better understood, the same&#39;consists in the improved construction and novel arrangement and. assemblage of parts which will be. hereinafter fully described and particularly pointed out in the claims.   </p>
                    
                        <p>  &#39; In the accompanying drawings has been illustrated a simple and preferred form of the invention; it being, however, understood Specification of Letters Patent. Application filed March 12, 1907. serial No. 362.010.   </p>
                    
                        <p>  that no limitation is necessarily madeto the I recise structural details therein exhibited,   </p>
                    
                        <p>   ut that changes, alterations and modifica tions within&#39;the scope of the&#39;invention may be resorted to, when desired.   </p>
                    
                        <p>  &#39; In the drawings; Figure 1 is a perspective view of a &#39;nail trimming device constructed in Iaccordance with the invention. Fig. 2 is a ongitudinal sectional view of the same.   </p>
                    
                        <p>  &#39; Fig. 3 is an end view. Fig. 4 isa (perspective ing disk detached.   </p>
                    
                        <p>  detail view showing the cutter an the abrad- Corresponding arts in the several figures are denoted by li e characters of reference.   </p>
                    
                        <p>  The body of the&#39;improved device-consists of a<span class="highlightfromlegend legenditem1"> cylindrical casing 1</span> preferably provided with a permanent closure at one end. as shown at 2 and having at the oppos te end a<span class="highlightfromlegend legenditem3"> detachable cap or cover 3</span> which may be in the nature of a screw-cap so as to bereadily detached and applied. The<span class="highlightfromlegend legenditem2"> closure 2</span> and the<span class="highlightfromlegend legenditem3"> cap 3</span> afford bearings for a<span class="highlightfromlegend legenditem4"> s &#39;rally threaded shaft 4</span> which is supported or rotation in its bearings and which carries, adjacent -to and 10 throug slotted cylindrical casing,   </p>
                    
                        <p>  the<span class="highlightfromlegend legenditem2"> closure 2</span> an<span class="highlightfromlegend legenditem5"> abrading disk 5</span>, which may consist of a circular file orof a small emery wheel, securely fixed upon the shaft so as to rotate therewith. Upon the<span class="highlightfromlegend legenditem4"> shaft 4</span>, adja cent to the abrading disk is secured a me- I I Patented may 14, 190&#39;}.   </p>
                    
                        <p>  tallic disk&#39;6 provided at its edge with a plu- L;   </p>
                    
                        <p>  rality of cutters? cross-section so as to fitagainst the inner walls of the<span class="highlightfromlegend legenditem1"> casing 1</span>; said cutters being provided with<span class="highlightfromlegend legenditem8"> sha inclined edges 8</span>. The   </p>
                    
                        <p>  - side walls. of the<span class="highlightfromlegend legenditem1"> casing 1</span> and the<span class="highlightfromlegend legenditem2"> closure 2</span> of,   </p>
                    
                        <p>  the latterare&#39; rovided with<span class="highlightfromlegend legenditem9"> arcuate slots 9</span> which the ends of the finger nails may be inserted and held in the path of the.<span class="highlightfromlegend legenditem7"> cutters 7</span> and the<span class="highlightfromlegend legenditem5"> abrading disk 5</span>&#39; when said members are rotated so that the nails preferably arcutae in will be trimmed thereby, asv will be readily understood. I   </p>
                    
                        <p>   Rotary motion is imparted to the<span class="highlightfromlegend legenditem4"> spirally threaded shaft 4</span> and the parts carried thereby by means of a<span class="highlightfromlegend legenditem11"> reciprocatory disk or nut 11</span> engaging the threaded ortion of said shaft and provided with a.y-o e&#39;<span class="highlightfromlegend legenditem12"> or handle 12</span>, the   </p>
                    
                        <p>  side members of which extend through<span class="highlightfromlegend legenditem13"> apertures 13</span> in the<span class="highlightfromlegend legenditem3"> cap 3</span>; said yoke being pro vided at its outer end with an eye; 14 whereby it ma y be manipulated by the thumb of one hand to impart reci rocatory motion to the<span class="highlightfromlegend legenditem11"> nut 11</span> which will t us serve to<span class="highlightfromlegend legenditem4"> rotatethe shaft 4</span> within the casing, which is meanwhile bein held by or between the fingers of one hand the &#39;other hand are presented to the t tools through the .apertures or slots in the casing. I   </p>
                    
                        <p>   From the foregoing description taken in connection withthe drawings hereunto annexed, the o eration and advantages of this invention will be readily understood. The   </p>
                    
                        <p>  of the operator, while the fingernails of device isvery simple in construction, neat in appearance and efficient in o eration, and it may be readily manufacture at a moderate expense. By the use of this device, the nails may be trimmed or pared, and the. edges polished absolutely without danger of injurthe skin of the finger tips.   </p>
                    
                        <p>  what l claim is:   </p>
                    
                        <p>   1. In a device of the class described, &#39;a a shaft supported for rotation therein, and cutters sup orted upon&#39;s&#39;aid shaftadjacent to theslotted o the<span class="highlightfromlegend legenditem2"> casin r 2</span>. In a evice of the class described, a   </p>
                    
                        <p>  aving fully described the invention,   </p>
                    
                        <p>  walls IIO cylindrical casing having slots in the side walls and ends thereof, a shaft supported for rotation in the casing and devices&#39;mounted upon said shaft for trimming the ends of finger nails inserted through the slots or apertures.   </p>
                    
                        <p>   3. In a device of the class described, a cylindrical casing having slots or apertures, a detachable cap at one end of the casing, a shaft supported for rotation in said cap and in the&#39;opposite closed end of the cylinder or casing, and nail&#39;trimming devices carried by said shaft adjacent to the slots and the casing.   </p>
                    
                        <p>  4. In a device of the class described, aeasing, a shaft extending therethrough, nail trimming devices upon said shaft, and means for rotating the latter; said casing being provided with slots for the presentation of the ends of nails in the path of the trimming devices.   </p>
                    
                        <p>  &#39; 5. In a device of the class described, a slotted casing havin a detached cap, a spirally threaded sha t supported for rotation in the cap and in the opposite closed end of the casing, nail trimming devices carried by said shaft adjacent to the slots in the easing, a nut engaging the spirally threaded shaft, and means for reciprocating the nut to rotate the shaft.   </p>
                    
                        <p>   6. In a device of the class described, a casing having a detachable cap, a spirally threaded shaft supported for rotation in the cap and in the opposite closed end of the easing, nail trimming devices carried by the shaft adjacent to the slots in the casing, a nut engaging the-spirally threaded shaft, and a yoke connected with the nut, extending through the cap and having a terminal eye.   </p>
                    
                        <p>   In testimony whereof, I affix my signature in presence of two Witnesses.   </p>
                    
                        <p>  &#39; MARTIN M. RYAN. Witnesses:   </p>
                    
                        <p>  KATHRYNE RYAN, LOUIS E. BURGNER. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                
                    <a href="US5727318.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            
                            <img src="../static/thumbnails/US5727318-thumbnail.png"  />
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Clippers for fingernails</h5>
                            <div><span class='date'>1998</span>
                            <span class='inventor'>Reiswig Gary J.</span></div>
                        </div>
                    </a>
                
                    <a href="US20160029768.html" class='citedlinkbox'>
                        <div class='citedimgwrapper'>
                            <span class='unicodethumbnail'>🙈</span>
                            
                        </div>
                        <div class='citedinfowrapper'>
                            <h5>Automatic safety nail clipper</h5>
                            <div><span class='date'>2016</span>
                            <span class='inventor'>Dai Wanyue</span></div>
                        </div>
                    </a>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/US853832">google patent 🔗</a>
            <a href='../list.html'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>