<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <title>USD724916</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>USD724916</span>

            <span>
                
                    <span class='code_cpc'>
                        Y10T29/4984
                    </span>
                
                    <span class='code_cpc'>
                        B25B7/04
                    </span>
                
                    <span class='code_cpc'>
                        B26B17/006
                    </span>
                
                    <span class='code_cpc'>
                        B25B7/00
                    </span>
                
                    <span class='code_cpc'>
                        B25B7/02
                    </span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
                    <span class='code_cpc'>
                        B25B7/12
                    </span>
                
                    <span class='code_cpc'>
                        B26B17/02
                    </span>
                
                    <span class='code_cpc'>
                        B25G1/06
                    </span>
                
            </span>

            
            <h1> Hand tool </h1>
            <div class="date_line">
                <span class='date' title="March 24, 2015">2015</span>
                
                    <span class='inventor'>
                        Hoang Nam Quoc
                         (US)
                    </span>
                
                <span class='assignee-list'>
                    
                        <span class='assignee'>
                            Quic Ind
                             (US),&nbsp;
                        </span>
                    
                        <span class='assignee'>
                            Quic Ind Inc
                             (US)
                        </span>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="/static/figures_extracted/USD724916-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/USD724916-fig1.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/USD724916-fig2.png" alt='nofig'
                        style="width:34.690265486725664%" />
                
                    <img src="/static/figures_extracted/USD724916-fig3.png" alt='nofig'
                        style="width:34.86725663716814%" />
                
                    <img src="/static/figures_extracted/USD724916-fig4.png" alt='nofig'
                        style="width:73.80530973451327%" />
                
                    <img src="/static/figures_extracted/USD724916-fig5.png" alt='nofig'
                        style="width:80.0%" />
                
                    <img src="/static/figures_extracted/USD724916-fig6.png" alt='nofig'
                        style="width:31.858407079646017%" />
                
                    <img src="/static/figures_extracted/USD724916-fig7.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/USD724916-fig8.png" alt='nofig'
                        style="width:57.52212389380531%" />
                
                    <img src="/static/figures_extracted/USD724916-fig9.png" alt='nofig'
                        style="width:57.34513274336283%" />
                
                    <img src="/static/figures_extracted/USD724916-fig10.png" alt='nofig'
                        style="width:56.10619469026549%" />
                
                    <img src="/static/figures_extracted/USD724916-fig11.png" alt='nofig'
                        style="width:78.05309734513274%" />
                
                    <img src="/static/figures_extracted/USD724916-fig12.png" alt='nofig'
                        style="width:57.876106194690266%" />
                
                    <img src="/static/figures_extracted/USD724916-fig13.png" alt='nofig'
                        style="width:81.06194690265487%" />
                
                    <img src="/static/figures_extracted/USD724916-fig14.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/USD724916-fig15.png" alt='nofig'
                        style="width:56.991150442477874%" />
                
                    <img src="/static/figures_extracted/USD724916-fig16.png" alt='nofig'
                        style="width:57.52212389380531%" />
                
                    <img src="/static/figures_extracted/USD724916-fig17.png" alt='nofig'
                        style="width:61.06194690265487%" />
                
                    <img src="/static/figures_extracted/USD724916-fig18.png" alt='nofig'
                        style="width:84.95575221238938%" />
                
                    <img src="/static/figures_extracted/USD724916-fig19.png" alt='nofig'
                        style="width:56.991150442477874%" />
                
                    <img src="/static/figures_extracted/USD724916-fig20.png" alt='nofig'
                        style="width:79.46902654867256%" />
                
                
            </div>
            <div class='legende'>

                
                    <div class='error'><span class='unicodeicon'>🙊</span> empty legend </div>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> FIG. 1  is a perspective view of a hand tool according to an embodiment of the design;  </p>
                    
                        <p>          FIG. 2  is a front view in elevation of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 3  is a rear view in elevation of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 4  is a top plan view of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 5  is a bottom view of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 6  is a right side view in elevation of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 7  is a left side view in elevation of the design shown in  FIG. 1 ;  </p>
                    
                        <p>          FIG. 8  is a perspective view of the design shown in  FIG. 1  with a tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 9  is a front view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 10  is a rear view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 11  is a top plan view of the design shown in  FIG. 1  with the tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 12  is a bottom plan view of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 13  is a right side view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 14  is a left side view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 15  is a perspective view of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 16  is a front view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 17  is a rear view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 18  is a top plan view of the design shown in  FIG. 1  with the tool head thereof rotated to the left;  </p>
                    
                        <p>          FIG. 19  is a bottom plan view of the design shown in  FIG. 1  with the tool head thereof rotated to the right;  </p>
                    
                        <p>          FIG. 20  is a right side view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the left; and,  </p>
                    
                        <p>          FIG. 21  is a left side view in elevation of the design shown in  FIG. 1  with the tool head thereof rotated to the right </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/USD724916">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>