<!doctype html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <title>USRE15663</title>
    </head>

    <body>

        <p class='scrolllinks top'>
            <a href='#end'>🡇</a>
        </p>

       
       <div class='boite_info'>
           
            <span class='patentnumber'>USRE15663</span>

            <span>
                
                    <span class='code_cpc'>
                        A45D29/02
                    </span>
                
            </span>

            
            <h1> Manicube implement </h1>
            <div class="date_line">
                <span class='date' title="July 31, 1923">1923</span>
                
                <span class='assignee-list'>
                    
                <span>
            </div>



       </div>

       
        <div class='boite_view'>

            <div class='figures'>
                
                
                    <img src="/static/figures_extracted/USRE15663-fig0.png" alt='nofig'
                        style="width:100%" />
                
                    <img src="/static/figures_extracted/USRE15663-fig1.png" alt='nofig'
                        style="width:76.83284457478005%" />
                
                    <img src="/static/figures_extracted/USRE15663-fig2.png" alt='nofig'
                        style="width:88.26979472140762%" />
                
                    <img src="/static/figures_extracted/USRE15663-fig3.png" alt='nofig'
                        style="width:75.65982404692082%" />
                
                
            </div>
            <div class='legende'>

                
                <ul>
                    
                        <li  class=&#34;non-consecutive&#34;  >
                            <span class='legend_number'> 1</span>i
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 5</span>plate
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 6</span>opening
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 7</span>flange
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 8</span>cutting elements
                        </li>
                    
                        <li  class=&#34;non-consecutive&#34;  >
                            <span class='legend_number'> 9</span>flat sides
                        </li>
                    
                        <li    >
                            <span class='legend_number'> 25</span>which i
                        </li>
                    
                </ul>
                
            </div>
            <div class='description'>
                <!-- <h4> Description </h4> -->
                <div class='description-text'>
                    

                    <h4> Description </h4>
                    
                    
                        <p> July 31, 1923. .R1e .,l5,663   </p>
                    
                        <p>   J- 0. LANDIS I MANICU</span>RE IMPLEMENT Original Filed April 1 1919 &#39;vIIFIIIIIIIII. mun-u I&#39;IIIIIIIIIII WITNESSES INVENTOR .L J 0. LANDLSY A TTORNE YS Reissued uly 31 1923.   </p>
                    
                        <p>  i UNITED ST<span class="highlightfromlegend legenditem31">ATES JOHN. OIJIN IANDIS, O</span>F WAYNESBORO, PENNSYLVANIA.   </p>
                    
                        <p>  Original No. 1,324,677,   </p>
                    
                        <p>  T 0 all whom it may concern i Be it known that I, JOHN OLIN .LANDIS, a citizen ofthe&#39;United States, and a resident of VVaynesboro, in the county of Frankp Y issubjected to the action of suitable dies to lin and State of Pennsylvania, have &#39;invented a newand Improved Manicure Implement, of which the following is a full, clear, and exact description.   </p>
                    
                        <p>  The present invention relates to new and ments and pertains more particularlyto small, tools especially adapted for trimming nails. c   </p>
                    
                        <p>   The object of the present invention is to provide a device of this character which in its-initial manufacture is both simpleand cheap;   </p>
                    
                        <p>   A further object of the invention is to provide a device of this character in which the cutting edge may from&#39;time to time be renewed.   </p>
                    
                        <p>   lVith the above and other objects in view, reference is hadtothe accompanying draw i 1&#39;) gs, in wh<span class="highlightfromlegend legenditem1">ich i 25 Figure 1 is a top plan</span> view of a de<span class="highlightfromlegend legenditem25">vice constr</span>ucted. in&#39;accordance withthe present invention; v I   </p>
                    
                        <p>  Fig. 2 is an edge vlewthereof;   </p>
                    
                        <p>  Fig. is atransverse sectional view on the line,3-3 of Fig. 1; Fig. a is a transverse sectional view on the linedi of Fig; 1. y   </p>
                    
                        <p>   Referring more particularly&#39;to the drawings, the reference characterb designates a metalfiplate, the center of which is pro ,vidod with an opening 6, which in the pres-&#39; ent instanc<span class="highlightfromlegend legenditem6">e. is &#34</span>;shown as. round .bUf/WhlCh &#34;may be made in any desired form or the sau&#39;ie may be omitted without affecting the scope of the invention.   </p>
                    
                        <p>   The reference character &#39;7 designates an annular flange formed on themarginal edge of the plate 5, and as best seen in Fig. 3,   </p>
                    
                        <p>  - thef<span class="highlightfromlegend legenditem5">lange 7 </span>is circular in cross section,<span class="highlightfromlegend legenditem7"> but,   </p>
                    
                        <p>  may be-i</span>n the form ofa channel or elliptical in form. I   </p>
                    
                        <p>  Formed in ,thegflange 7 about the periph;   </p>
                    
                        <p>  &#34; cry o<span class="highlightfromlegend legenditem7">f the plate5, </span>area plurality of cutting elements 8.   </p>
                    
                        <p>  In making the device, a<span class="highlightfromlegend legenditem8"> flat circular disk</span> useful improvements &#34;in manicuring imple- MANICUBE IMPLEMENT.   </p>
                    
                        <p>  of metal, preferably steel, is employed, and   </p>
                    
                        <p>  said disk may or may not be perforated, as   </p>
                    
                        <p>  form the annular marginal flange 7, which flange is sub<span class="highlightfromlegend legenditem7">sequently subjected to sui</span>table mechanism for bending&#39;or curling its rim inward. I   </p>
                    
                        <p>   The disk with its flange formed as above described, is now put through any suitable dated&#39;December 9, 1919, Serial No. 291,314, filed April 19, 1919. Application for reissue&#39;filed March 15, 1923. seriarno. 625,269.   </p>
                    
                        <p>  hardening process, after which it maybe polished for the. purpose of imparting a finish thereto. The disk is now subjected to y &#39;65. and the cutting elementsS are formed by grinding through the flange 7, the disk be the action of a suitable<span class="highlightfromlegend legenditem7"> grinding</span> machine ing groundin such a manner that flat sides 9 are produced about its periphery.<span class="highlightfromlegend legenditem9"> These sides </span>may or may not beequidistantly spaced about the disk, as desired.   </p>
                    
                        <p>  From the foregoing it will beseen that the present invention not&#39;only provides a device which 1s simple and cheap in manufacture, but contemplates a device in which the cutting elements may be renewed from time to time by merely subjecting the flat faces to the action of a suitable abrading material 7 I Having thus des<span class="highlightfromlegend legenditem7">cribed is claimed is: i   </p>
                    
                        <p>   1</span>. A device of the character des<span class="highlightfromlegend legenditem1">cribed comprisin</span>g a nietal diskprovided on its edgewith a continuous annular flange of the invention, what substantially circular form in cross section,v   </p>
                    
                        <p>  said flange having flat ground surfaces about its periphery, said ground surfaces. i 1   </p>
                    
                        <p>  extending entirely through the flange t<span class="highlightfromlegend legenditem1">o pr</span>o? vide a plurality of cutting members.   </p>
                    
                        <p>   2. A device of the character described comprising a perforated metal disk provided on. its, edge with a continuous annular flangeof substantially,circular form in cross section, said flange having flatf&#39;ground surfaces at equidistantly spacedintervals about its periphery,-said ground&#39;surfaces extending entirely through the flange to provide a H plurality of equidistantly spaced continuous cutting members.   </p>
                    
                        <p>  YJOHN OLIN LANDIS<span class="highlightfromlegend legenditem31">. </p>
                    
                </div>
            </div>
        </div>





        <div class='citations'>
            <h4>Brevets cités</h4>
            <div class='listcited'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>

            <h4>Brevets citants</h4>
            <div class='listcitedby'>
                
                    <div class='nocitation'><span class='unicodeicon'>✻</span> None </div>
                
            </div>
        </div>

        <p class='navlinks'>
            <a href="https://www.google.com/patents/USRE15663">google patent 🔗</a>
            <a href='/'>back to the list 🡄</a>
        </p>

        <p class='scrolllinks end'>
            <a name="end" href='#top'> 🡅 </a>
        </p>
    </body>

</html>